<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Car remote</title>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/nipplejs.min.js"></script>
<script src="../static/amazingstuff.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="container">
      <h1>Dude where's my car going?</h1>
      <p>Use the button to drive the car!</p>
        <script>
            var options = {
                color : "Blue"          // distance to recycle previous joystick in
                                    // 'semi' mode
};
            var manager = nipplejs.create(options);
        </script>

    </div>

    <hr>
    {% block content %}{% endblock %}

  </body>
<footer>
    <link rel="stylesheet" href="../static/styles.css" ></footer>
</footer>
</html>
